<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevOps Lifecycle Project</title>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="container">
        <h1>DevOps Lifecycle Project</h1>
        <p>Welcome to my first end-to-end DevOps deployment using Flask, Docker, GitHub Actions, and Render Cloud.</p>
        <div class="details">
            <h3>Features Implemented:</h3>
            <ul>
                <li>Continuous Integration using GitHub Actions</li>
                <li>Dockerized Flask Application</li>
                <li>Continuous Delivery with Render Cloud</li>
                <li>Automated Redeployment on Git Push</li>
            </ul>
        </div>
        <footer>
            <p>Developed by Vyankatesh Chavan</p>
        </footer>
    </div>
</body>
</html>
